.char-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1f1f1fb5;
   overflow: hidden;
   border-radius: 3px;
   border: 2px solid rgba(0, 0, 0, 0.6);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
   transition:
      border 0.4s ease,
      transform 0.4s ease,
      box-shadow 0.4s ease;
}

.char-item:hover {
   transform: translateY(-8px);
   border: 2px solid var(--marvel-red);
   box-shadow: 0 15px 15px rgba(159, 0, 19, 0.614);

}

.char-item:hover .char__name{
    background: var(--marvel-red);
}



.char-item img {
   width: 200px;
   height: 200px;
   display: block;
   object-fit: cover;
}

.char__name {
   padding: 20px 40px 60px 80px;
   font-weight: bold;
   color: #fff;
   text-align: left;
   padding-left: 80px;
   background: rgba(0, 0, 0, 0.6);
   width: 100%;
   transition: background 0.4s ease; 
}
