.char-list {
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.char-grid {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1.7rem;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 800px;
}

.char-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1f1f1fb5;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	transition:
		transform 0.4s ease,
		box-shadow 0.6s ease;
}

.char-item:hover {
	transform: 
	translateX( -4px)
	translateY( -8px);
	box-shadow: 5px 10px 16px  rgba(159, 0, 19, 0.642);
}

.char-item img {
	width: 100%;
	height: auto;
	display: block;
}

.char__name {
	padding: 20px 40px 60px 80px;
	font-weight: bold;
	color: #fff;
	text-align: left;
	padding-left: 80px;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
}
