@import './assets/styles/variables.css';

:root {
	font-family:
		Roboto Condensed,
		sans-serif;

	color: rgba(255, 255, 255, 0.87);

	/*background-image: linear-gradient(135deg, #00ACC1, #006064);*/

	/*background-image: linear-gradient(135deg, #E1F5FE, #81D4FA);*/
	/*color: #01579B; !* темно-синій текст *!*/

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
